.newslist {
	background-color: #f6f6ef;
	padding: 0 0 48px 0;
}

.newslist small {
	color: #828282;
}

.header {
	background-color: #f77575;
    color: #fff;
    padding: 11px;
    height: 40px;
}

.header-title {
	float: left;
}

.paginator {
	float: right;
	font-size: 13px;
	color: #fff;
	margin: 4px 15px 0 0;
}

.paginator a {
	text-decoration: none;
	margin: 0 5px;
	color: #fff;
	cursor: pointer;
}

.sort-item {
	cursor: pointer;
}
.sort-selected {
	font-weight: bold;
}
.logo {
	margin-top: 2px;
	margin-right: 10px;
	border: 1px white solid;
	vertical-align: bottom;
}

.news-item {
	padding: 0 15px;
}

.news-position {
	color: #828282;
}

.news-details {
	display: block;
	margin-left: 88px;
	margin-top: -12px;
}

.upvote-news{
	margin: 0 24px;
	cursor: pointer;
}

.hide-news{
	font-size: .6em;
    margin: 0 24px;
    cursor: pointer;
}